script(src="/f/js/vendor/jquery.min.js")
script(src="/f/js/vendor/owl.carousel.min.js")
script(src="/f/js/vendor/jquery.mask.min.js")
script(src="/f/js/vendor/handlebars.min.js")
script(src="/f/js/main.js")