@import "components/fonts"
@import "components/variables"
@import "components/base"



//pages
@import "components/header"
@import "components/footer"
@import "components/main-page"
@import "components/stories"

   
//blocks
@import "_blocks/storeis-block"
@import "_blocks/breadcrumbs"