extends layouts/default

block pageVar
	-pageTitle = 'Stories-open';
block content
	.page-container.page-container--fix-header

		+breadcrumbs({path:[
			{title:'Главная', href:'#'},
			{title:'Информация о олимпиале', href:'#'},
			{title:'История создания и развития олимпиады', href:''}
			]})
		.content-wrapper
			.b-stories__top.b-stories-open__top
				.b-stories__title.b-title ИСТОРИИ УСПЕХА
				.b-stories__top-img
					img(src="../f/img/item2.png", alt="")
			.b-stories-open__wrap

					.b-stories-open__inner
						.b-stories-open__item
							a(href="/html/stories.html").b-stories-open--back
						.b-stories-open__item
							.b-stories-open__content
								.b-stories-open__title Нижегородская школьница стала победительницей легендарной ТВ-олимпиады «Умницы и умники»

								.b-stories-open__head
									.b-stories-open__head-img
										img(src="../f/img/history/item-big.jpg", alt="...")
										span.b-stories-open__signature Фото: предоставлено Александрой Мироновой
										span.b-stories-open__signature Сама Александра узнала про свою победу чуть раньше, чем вышел финальный выпуск
								.b-stories-open__body
									.b-stories-open-text 
										strong «Очень сильная девушка», 
										| – отрекомендовал нашу Сашу ведущий программы Юрий Вяземский ректору МГИМО Анатолию Торкунову. А ещё она настоящая красавица! 11 лет учёбы на «отлично», победы в олимпиадах и конкурсах, сотни прочитанных книг, блестящие эрудиция и память, целеустремлённость, прекрасная грамотная речь, обаятельная улыбка – всё это помогло Александре прекрасно защитить честь Нижегородской области и победить в престижной олимпиаде, приз в которой – поступление в МГИМО!
									
									.b-stories-open-text-header Помог театр
									div 
										p.b-stories-open-text ТВ-олимпиада, которую 28 лет назад придумал преподаватель МГИМО, писатель и телеведущий «заумник» Александр Вяземский, проходит в несколько этапов в течение всего учебного года, с сентября по июнь. Александра, ученица нижегородской авторской академической школы № 186 (НААШ), рассказала, что об этой олимпиаде она узнала в 10‑м классе от учителя по литературе.
										p.b-stories-open-text – В конце марта 2019 года моя учительница русского и литературы сказала, что через пару дней будет проводиться конкурс эссе для «Умниц и умников». Я тогда мало знала о передаче, но поучаствовать согласилась, – вспоминает девушка. – После этого, к своему собственному удивлению, я прошла все этапы в Нижнем, дойдя до регионального финала. Я стала абсолютным победителем. Предстоящая поездка в Москву казалась мне тогда нереальной, но я решила, что буду готовиться, потому что подобные шансы выпадают нечасто.
									.b-stories-open-text-header «Умнейшая из теоретиков!»
									.b-stories-open-block
										.b-stories-open-block__foto 
											img(src="../f/img/history/item6.jpg", alt="...")
											span.b-stories-open__signature Александра Миронова
										.b-stories-open__info
											p.b-stories-open-text Всем, прошедшим на следующие этапы, за месяц до их начала сообщили темы встреч.
											p.b-stories-open-text – На подготовку у нас был месяц, – рассказывает Саша Миронова. – Ни списка литературы, ни тем более примерного списка вопросов нам не давали, поэтому приходилось рассчитывать на собственное чутьё при интерпретации и разборе тем, зачастую довольно обширных. Книги я покупала в местной студенческой лавке, брала в школьной библиотеке или получала их от своего дедушки. Мне также очень помогли некоторые интернет-ресурсы: в основном разнообразные исторические сайты и электронные библиотеки.
											p.b-stories-open-text Снимали по четыре игры в день! Как рассказала Саша, съёмки каждой передачи длились по полтора часа с перерывом в 30 минут.
									p.b-stories-open-text Саша побывала и на игровой дорожке, и отлично сражалась на трибунах «теоретиков». Отвечала про театр, про имя бога Аполлона, про древнюю Грецию, про Пушкина, Гоголя и Достоевского.
									p.b-stories-open-text «Умнейшая из теоретиков» – сказал про нашу Сашу Юрий Вяземский, когда объявлял список из 24 полуфиналистов.
									p.b-stories-open-text В полуфинале пришлось отвечать на вопросы по сложнейшей для школьников теме – философии. Саша снова блистала на трибунах, отвечая на вопросы про Соловьёва, Достоевского, «Братьев Карамазовых» и Оптину пустынь.
									p.b-stories-open-text По итогам полуфинала Александра в числе 12 умников и умниц вышла в финал. До победы остался один шаг.

									p.b-stories-open-text Финалисты ждали приглашения в Москву на заключительные съёмки, но… коронавирус, карантин, самоизоляция, дистанционное обучение…
									p.b-stories-open-text В итоге ректор МГИМО и заумник Юрий Вяземский вместе приняли такое решение: объявить победителями 28-го сезона олимпиады «Умницы и умники» всех финалистов. Ещё пять человек признали призёрами олимпиады.

									p.b-stories-open-text Сама Александра узнала про свою победу чуть раньше, чем вышел финальный выпуск. Она сама ещё не успела даже пересмотреть весь сезон со своим участием – готовится к ЕГЭ.

									.b-stories-open-text-header «Это было весело!»

									p.b-stories-open-text Мы поздравили умницу с победой, а она поделилась с нами впечатлениями, планами на лето и советами для будущих участников.

									p.b-stories-open-text--big – Саша, оглядываясь назад, вспомни, что было самым сложным?
									p.b-stories-open-text – Самым сложным было подавить панику и сесть на поезд в Москву в сентябре, когда впервые нужно было ехать на съёмки. Всё остальное далось мне намного легче, потому что даже страх что-то забыть не был сильнее испытанного мной тогда страха перед неизвестным. 

									p.b-stories-open-text--big – Сильная разница между тем, что ты ожидала, и тем, как всё было на самом деле?
									p.b-stories-open-text – Пожалуй, главное отличие, которое в первый же день четвертьфинала отметили все участники моего сезона, таково: студия на самом деле очень маленькая, на экране она выглядит намного больше. А еще съёмочный процесс на самом деле веселее, чем можно заподозрить, глядя на конечный результат. 

									p.b-stories-open-text--big – Вяземский подсказывает? 
									p.b-stories-open-text – Да, такое бывает. В некоторых выпусках видно, что если вопрос вызывает сильные затруднения, то Юрий Павлович предлагает подсказать. Иногда по его подсказкам можно догадаться, иногда они только запутывают ещё больше, если изначально ты ни малейшего понятия о правильном ответе не имел.
						.b-stories-open__item
							.b-stories-open__network
								.b-stories-open__network-left
									a(href="#").b-stories-open__network-item
										img(src="../f/img/network/link.svg", alt="") 
								.b-stories-open__network-right 
									a(href="#").b-stories-open__network-item
										img(src="../f/img/network/vk.svg", alt="")
									a(href="#").b-stories-open__network-item
										img(src="../f/img/network/telegram.svg", alt="")
									a(href="#").b-stories-open__network-item
										img(src="../f/img/network/viber.png", alt="")
